@model IEnumerable<TiktokLikeASP.Models.Post>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["Username"]</h1>
</div>
@foreach (var item in Model)
{
    <article>
        <h1>@item.Title</h1>
        <video src=@item.VideoLink width=320 height=240 controls >
        </video>
    </article>
}

