@model IEnumerable<TiktokLikeASP.Models.Post>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["Username"]</h1>
    @if (ViewData["Error"] != null && ViewData["Error"] != "")
    {
        <p class="text-danger"> @ViewData["Error"] </p>
    }
    <p></p>
</div>
@foreach (var item in Model)
{
    <article>
        <h1>@item.Title</h1>
        <video width=300 height=300 controls>
            <source src="https://localhost:7065/Videos/@item.VideoLink" type="video/mp4">
        </video>
    </article>
}

