<article>
    <h2>@ViewBag.CurrentPost.Title</h2>
    <video width=300 height=300 controls>
        <source src="https://localhost:7065/Videos/@ViewBag.CurrentPost.VideoLink" type="video/mp4">
    </video>
</article>