@{
    ViewData["Title"] = "Profile";
}

<h2>@ViewData["Username"]</h2>

<h3>Update Password</h3>

<form action="/Account/ChangePassword" method="post">
    <div class="container py-2">
        <label class="form-label"><b>New Password</b></label> <br />
        <input class="form-control"
               type="password"
               name="password"
               placeholder="Password" />
    </div>

    <div class="container py-2">
        <label class="form-label"><b>Confirm new Password</b></label> <br />
        <input class="form-control"
               type="password"
               name="confirmPassword"
               placeholder="Confirm password" />
    </div>

    <div class="container py-2">
        <input class="btn btn-dark " type="submit" value="Update Password" />
    </div>

    <!-- In case of errors: show an error message depending of the problem encountered.-->
    <div asp-validation-summary="All" class="text-danger"></div>
</form>