@{
    ViewData["Title"] = "Profile";
}

<h2>@ViewData["Username"]</h2>

<h3>Update Username</h3>

<form action="/Account/EditUsername" method="post">
    <div class="container py-2">
        <label class="form-label"> <b>New Username</b></label> <br />
        <input class="form-control"
               type="text"
               name="username"
               placeholder="Username"
               data- />
    </div>

    <div class="container py-2">
        <input class="btn btn-dark " type="submit" value="Update Profile" />
    </div>
    <!-- In case of errors: show an error message depending of the problem encountered.-->
    <div asp-validation-summary="All" class="text-danger"></div>
</form>