@model TiktokLikeASP.Models.ViewModels.LoginRequest
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Log in";
}

<h1>Log in</h1>

<form action="/Account/Login" method="post">
    <div class="container py-2">
        <label class="form-label"> <b>Username</b></label> <br />
        <input 
            class="form-control" 
            type="text" 
            name="username" 
            placeholder="Username" 
            asp-for="Username" required 
        />
    </div>

    <div class="container py-2">
        <label class="form-label"><b>Password</b></label> <br />
        <input class="form-control"
               type="password"
               name="password"
               placeholder="Password"
               asp-for="Password"
               required />
    </div>

    <div class="container py-2">
        <input class="btn btn-dark " type="submit" value="Login" />
    </div>

    <!-- In case of errors: show an error message depending of the problem encountered.-->
    <div asp-validation-summary="All" class="text-danger"></div>
</form>