@{
    ViewData["Title"] = "Profile";
}
@model TiktokLikeASP.Models.ViewModels.EditProfileRequest

<h2>@ViewData["Username"]</h2>

<h3>Update profile</h3>

<form action="/Account/Profile" method="post">
    <div class="container py-2">
        <label class="form-label"> <b>New Username</b></label> <br />
        <input class="form-control"
               type="text"
               name="username"
               placeholder="Username" 
               asp-for="Username" />
    </div>

    <div class="container py-2">
        <label class="form-label"><b>New Password</b></label> <br />
        <input class="form-control"
               type="password"
               name="password"
               placeholder="Password"
               asp-for="Password" />
    </div>

    <div class="container py-2">
        <label class="form-label"><b>Confirm new Password</b></label> <br />
        <input class="form-control"
               type="password"
               name="confirmPassword"
               placeholder="Confirm password" 
               asp-for="ConfirmPassword" />
    </div>

    <div class="container py-2">
        <input class="btn btn-dark " type="submit" value="Update Profile" />
    </div>

    <!-- In case of errors: show an error message depending of the problem encountered.-->
    <div asp-validation-summary="All" class="text-danger"></div>
</form>