@{
    ViewData["Title"] = "Profile";
}

<h2>@ViewData["Username"]</h2>

<h3>Update profile</h3>

<h4>Username</h4>

<input 
    type="submit" 
    name="changeusername" 
    value="Change Username" 
    formaction=@Url.Action("RedirectToEditUsername") 
    formmethod="post" 
    class="btn btn-primary" />

<h4>Password</h4>
<input 
    type="submit" 
    name="changepassword" 
    value="Change Password"
       formaction=@Url.Action("RedirectToEditPassword")
       formmethod="post" 
    class="btn btn-primary" />